{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <div class="title-container">
    <h1>Your shopping cart (типа Корзина)</h1>
  </div>

  <div class="cart-container">
    <table class="cart">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th>Unit price</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}
                  {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url "cart:cart_add" product.id %}" method="post" class="quantity-form">
                  <div class="quantity-controls">
                     <button type="button" class="quantity-btn minus-btn">-</button>
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="quantity-input" readonly>
                     <button type="button" class="quantity-btn plus-btn">+</button>
                  </div>
                   <input type="hidden" name="override" value="True">
                  <input type="submit" value="Update" class="update-button">
                  {% csrf_token %}
                </form>
              </td>
              <td>
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                  <input type="submit" value="Remove">
                  {% csrf_token %}
                </form>
              </td>
              <td class="num"> {{ item.price }} ₽</td>
              <td class="num"> {{ item.total_price }} ₽</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num"> {{ cart.get_total_price }} ₽</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons-container">
    <p class="text-right">
      <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
      <a href="{% url "orders:order_create" %}" class="button">Checkout</a>
    </p>
  </div>
<script>
 document.addEventListener('DOMContentLoaded', function () {
        const quantityForms = document.querySelectorAll('.quantity-form');

        quantityForms.forEach(form => {
            const quantityInput = form.querySelector('.quantity-input');
            const minusBtn = form.querySelector('.minus-btn');
            const plusBtn = form.querySelector('.plus-btn');


            minusBtn.addEventListener('click', function () {
                let currentValue = parseInt(quantityInput.value, 10);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
            });

            plusBtn.addEventListener('click', function () {
                let currentValue = parseInt(quantityInput.value, 10);
                quantityInput.value = currentValue + 1;
            });

             form.addEventListener('submit', function(event){
                 event.preventDefault();
                const formData = new FormData(form);
                const url = form.action;
                 fetch(url, {
                     method: 'POST',
                     body: formData,
                      headers: {
                         'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                     }
                 })
                    .then(response => {
                         if (response.ok) {
                            window.location.reload();
                         } else {
                            console.error('Error updating cart');
                         }
                     })
                    .catch(error => {
                         console.error('Fetch error:', error);
                     });
             });

        });
    });
</script>
{% endblock %}