{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}{% translate "Autoparts" %}{% endif %}
{% endblock %}

{% block content %}
  <div class="sidebar">
    <h3>{% translate "Categories" %}</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "shop:product_list" %}">{% translate "All" %}</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="main product-list">
    <h1>{% if category %}{{ category.name }}{% else %}{% translate "Products" %}{% endif %}</h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img loading="lazy" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        {{ product.price }} ₽
      </div>
    {% endfor %}
  </div>

  <div class="pagination-container">
    <div class="pagination">
      <span class="step-links">
        {% if products.has_previous %}
          <a href="?page={{ products.previous_page_number }}">{% translate "Previous" %}</a>
        {% endif %}
        <span class="current">
          {% blocktranslate with current_page=products.number total_pages=products.paginator.num_pages %}
            Page {{ current_page }} of {{ total_pages }}.
          {% endblocktranslate %}
        </span>
        {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}">{% translate "Next" %}</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}